{% extends 'forum/base_forum.html' %}


{% block content %}

<div style="text-align: center;">
    <h3 style="color: MediumSeaGreen; margin-top: 16px;">New questions</h3>
</div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col" class="col-1">#</th>
      <th scope="col" class="col-3">Question</th>
      <th scope="col" class="col-1">Answers</th>
      <th scope="col" class="col-1">Votes</th>
      <th scope="col" class="col-1">Author</th>
    </tr>
  </thead>
  <tbody>

    {% for q in questions %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a style="color: black" href="{% url 'question_detail' slug=question.slug %}">{{ q.title }}</a>
          {% for t in q.tags.all %}
            <span class="badge badge-light">
              <a style="color: MediumSeaGreen" href="{% url 'tag_questions_list' tag=t %}">
                {{ t }}
              </a>
            </span>
          {% endfor %}</td>
        <td>...</td>
        <td>...</td>
        <td>
          <a style="color: MediumSeaGreen" href="{% url 'person_info' nick=q.author.username %}">
          {{ q.author.username }}
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}