{% extends 'forum/base_forum.html' %}


{% block content %}

<div style="background-color: #eee; text-align: center;">
    <h5>New questions</h5>
</div>

    <table class="table">
  <thead>
    <tr>
      <th scope="col" class="col-1">#</th>
      <th scope="col" class="col-1">Votes</th>
      <th scope="col" class="col-1">Answers</th>
      <th scope="col" class="col-3">Question</th>
      <th scope="col" class="col-1">Author</th>
    </tr>
  </thead>
  <tbody>

    {% for q in questions %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>...</td>
        <td>...</td>
        <td>{{ q.title }}</td>
        <td>{{ q.author.username }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}