{% extends 'forum/base_forum.html' %}

{% block content %}

<div style="text-align: center;">
    <h3 style="color: MediumSeaGreen; margin-top: 16px;">New questions</h3>
</div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col" class="col-1" >Date</th>
      <th scope="col" class="col-3">Question</th>
      <th scope="col" class="col-1">Answers</th>
      <th scope="col" class="col-1">Votes</th>
      <th scope="col" class="col-1">Author</th>
    </tr>
  </thead>
  <tbody>

    {% for q in questions %}
      <tr>
        <th scope="row" style="color: Gray;">{{ q.pub_date }}</th>
        <td>
          <a style="color: black" href="{{ q.get_absolute_url }}">{{ q.title }}</a>
          {% for tag in q.tags.all %}
            <span class="badge badge-light">
              <a style="color: MediumSeaGreen" href="{% url 'tag_questions' tag_name=tag %}">
                {{ tag }}
              </a>
            </span>
          {% endfor %}
        </td>
        <td>{{ q.replies.count }}</td>
        <td>...</td>
        <td>
          <a style="color: MediumSeaGreen" href="{% url 'person_info' nickname=q.author.username %}">
          {{ q.author.username }}
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'forum/pagination.html' %}
{% endblock %}