{% extends 'forum/base_forum.html' %}

{% load crispy_forms_tags %}

{% block content %}

<script>
  $(document).ready(function() {
    $("button").click(function () {
      var id = $(this).attr("id");
      var medal_id = "#medal_" + id;

        $.ajax({
            url: id + "/medal/",
            data: {},
            dataType: "json",
            success: function(data) {
              if (data.flag == true) {
                $(medal_id).html('<img src="{{ MEDIA_URL }}png/starfull.png" hspace="700">');
              }
              else if (data.flag == false) {
                $(medal_id).text("");
              }
            },
            error: function(data) {
              console.log(data);
              alert("status code: " + data.status)
            }
        });
    });
  });
</script>

<script>

$(document).ready(function() {
        function ajax_setup(e){
            e.preventDefault();
            var href = $(this).attr("href");
            $.ajax({
              url: href,
              data: {},
              dataType: "json",
              success: function(data) {
                if (data.id) {
                  var id = "#rat_r_" + data.id;
                }
                else {
                  var id = "#rat_q";
                }
                $(id).text(data.rating);
              },
              error: function(data) {
                console.log(data);
              }
            });
        }
   $(".evaluate-score").click(ajax_setup);
})



</script>

    <h3 style="text-align: center; color: MediumSeaGreen; margin-top: 16px;">{{ question.title }}</h3>

        <div class="card">
            <div class="card-body">
                <img src="{{ question.author.avatar.url }}" style="width: 3rem;" vspace="10" align="bottom" alt="avatars/def_ava.jpg">
                <h6 class="card-subtitle mb-2 text-muted">
                    <a style="color: Gray;" href="{% url 'person_info' nickname=question.author.username %}">
                        {{ question.author.username }}</a>: {{ question.pub_date }}
                </h6>
                <p class="card-text"><strong>{{ question.content }}</strong></p>
                <p>
                    {% for tag in question.tags.all %}
                    <span class="badge badge-light">
                        <a style="color: MediumSeaGreen" href="{% url 'tag_questions' tag_name=tag %}">{{ tag }}</a>
                    </span>
                    {% endfor %}
                </p>
                    rating: <b id="rat_q">{{ question.total_votes }}</b>
                    {% if request.user.is_authenticated %}
                        <p>
                        <a href="{% url 'question_like' slug=question.slug %}" class="card-link text-info evaluate-score">like</a>
                        <a href="{% url 'question_dislike' slug=question.slug %}" class="card-link text-info evaluate-score">dislike</a>
                        </p>
                    {% endif %}
            </div>
        </div>

        {% for reply in object_list %}
            <div class="card">
                <div class="card-body">
                    <img src="{{ reply.author.avatar.url }}" style="width: 3rem;" vspace="10" align="bottom"
                         alt="avatars/def_ava.jpg">

                    <h6 class="card-subtitle mb-2 text-muted">
                        <a style="color: Gray" href="{% url 'person_info' nickname=reply.author.username %}">
                            {{ reply.author.username }}</a>: {{ reply.pub_date }} id: {{ reply.id }}
                        {% if reply.flag %}
                            <span id="medal_{{ reply.id }}">
                                <img src="{{ MEDIA_URL }}png/starfull.png" hspace="700">
                            </span>
                        {% else %}
                            <span id="medal_{{ reply.id }}"></span>
                        {% endif %}
                    </h6>
                    <p class="card-text">{{ reply.body }}</p>

                    rating: <b id="rat_r_{{ reply.id }}">{{ reply.total_votes }}</b>
                    {% if request.user.is_authenticated %}
                        <p>
                        <a id="like_{{ reply.id }}" href="{% url 'reply_like' slug=question.slug reply_pk=reply.id %}" class="card-link text-info evaluate-score">like</a>
                        <a href="{% url 'reply_dislike' slug=question.slug reply_pk=reply.id %}" class="card-link text-info evaluate-score">dislike</a>
                        {% if question.author == request.user %}
                            <button id="{{ reply.id }}" type="button" class="btn btn-outline-secondary btn-sm" style="margin-left: 590px;">medal</button>
                        {% endif %}
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        {% include 'forum/pagination.html' %}

        {% if reply_form %}
        <form method="post" action="{% url 'add_reply' slug=question.slug %}">
            {% csrf_token %}
            {{ reply_form|crispy }}
            <div class="col text-center" id="row1">
                <input type="submit" class="btn btn-outline-success" id="btn1" value="publish"/>
            </div>
        </form>
        {% endif %}

{% endblock %}
