 <div class="card-body">
            <img src="{{ person.avatar.url }}" class="card-img-top" style="width: 12rem;" alt="avatars/def_ava.jpg">
            <h5 class="card-title">[id: {{ person.id }}] {{ person.username }}</h5>
            <p class="card-text">E-mail: {{ person.email }}</p>
            <p class="card-text">Join date: {{ person.date_joined }}</p>
            {% if not nick %}
                <a href="{% url 'update_profile' %}" class="btn btn-outline-success">edit profile</a>
            {% endif %}
        </div>