{% extends 'authorization/person.html' %}


{% block cardbody %}

    <div class="card-body">
        <h3 style="text-align: center; color: MediumSeaGreen; margin-top: 16px;">
            {{ request.user.username }}s questions:
        </h3>
        <ul class="list-group" style="margin-top: 25px;">
            {% for q in questions %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ q.get_absolute_url }}" style="color: MediumSeaGreen">
                    {{ q.title }}
                </a>
                <span class="badge success badge-pill">...</span>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
