{% extends 'authorization/base_auth.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <h3 style="text-align: center; color: MediumSeaGreen; margin-top: 16px;">Add {{ object_name }}</h3>

        <form action="{% url object_url %}" enctype="multipart/form-data" method="post" >
            {% csrf_token %}
            {{ model_form|crispy }}
            <div class="col text-center">
                <input type ="submit" class="btn btn-outline-success" value ="Save"/>
            </div>
        </form>
    <hr>


{% endblock %}