{% extends 'global_template.html' %}

{% block authorization %}
    {% if request.user.is_authenticated %}
        <div class="dropdown">
            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user.username }}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'person_profile' %}">my profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">log out</a>
            </div>
        </div>
    {% else %}
        <div class="dropdown">
            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                authorize
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'login' %}">log in</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'registration' %}">registration</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
