{% extends 'global_template.html' %}

{% block authorization %}
    {% if user.is_authenticated %}
        <script>
            alert('{{ user|upper }} is already authenticated...');
            window.location.href = {% url 'index_view' %};
        </script>
    {% else %}
        <div class="dropdown">
            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                authorize
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'login' %}">log in</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'registration' %}">registration</a>
            </div>
        </div>
    {% endif %}
{% endblock %}