{% extends 'authorization/base_auth.html' %}


{% block content %}
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs">
                {% if nick %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'person_info' nick=nick %}">Profile</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'person_profile' %}">My profile</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link btn btn-btn-link" href="#">Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-btn-link" href="#">Answers</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <img src="{{ person.avatar.url }}" class="card-img-top" style="width: 12rem;" alt="avatars/def_ava.jpg">
            <h5 class="card-title">[id: {{ person.id }}] {{ person.username }}</h5>
            <p class="card-text">E-mail: {{ person.email }}</p>
            <p class="card-text">Join date: {{ person.date_joined }}</p>
            {% if not nick %}
                <a href="{% url 'update_profile' %}" class="btn btn-outline-success">edit profile</a>
                <a href="#" class="btn btn-outline-success">delete profile</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

