{% extends 'authorization/base_auth.html' %}


{% block content %}

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#">My questions</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <img src="{{ profile.avatar.url }}" class="card-img-top" style="width: 12rem;" alt="avatars/def_ava.jpg">
            <h5 class="card-title">{{ profile.person.username }}</h5>
            <p class="card-text">E-mail: {{ profile.person.email }}</p>
            <p class="card-text">Join date: {{ profile.person.date_joined }}</p>
            <a href="{% url 'update_profile' nick=profile.person.username %}" class="btn btn-outline-success">edit profile</a>
            <a href="#" class="btn btn-outline-success">delete profile</a>
        </div>
    </div>

{% endblock %}

